<template>
    <div class="player-container">
            <div class="row player-container2">
                <div class="col-md-1">
                    <div class="album-cover"></div>
                </div>
                <div class="col-md-4 song-info">
                    <p class="song-title">Wildest Dreams (Taylor's Version)</p>
                    <p class="song-artist">Taylor Swift</p>
                </div>
                <div class="col-md-3 duration-section">
                <progress class="duration-bar" min=0 max=100 value=41></progress>
                <div class="player-icons-container">
                    <img class="player-icons-items icon-size" src="../assets/icons8_shuffle_6.svg">
                    <img class="player-icons-items icon-size" src="../assets/icons8_skip_to_start_2.svg">
                    <img class="player-icons-items icon-size" src="../assets/icons8_pause_3.svg">
                    <img class="player-icons-items icon-size" src="../assets/icons8_end_1.svg">
                    <img class="player-icons-items icon-size" src="../assets/icons8_repeat_3.svg">
                </div>
                </div>
                <div class="col add-adjust-text">
                    <img id="heartMe" v-on:click="faved" class="add-adjust-text-bottom player-icons-items icon-size icon-hover" src="../assets/icons8_heart_9.svg">
                    <p>Add to favorites</p>
                </div>
                <div class="col add-adjust-text">
                    <img class="add-adjust-text-bottom player-icons-items icon-size icon-hover" src="../assets/icons8_plus_math_3.svg">
                    <p>Add to playlist</p>
                </div>
                <div class="col add-adjust-text">
                    <img id="demo" class="add-adjust-text-bottom player-icons-items icon-size icon-hover" src="../assets/icons8_speaker_1.svg">
                    <p>Adjust volume</p>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    name: 'Player',
    methods: {
        faved() {
                document.getElementById("heartMe").style.filter = "invert(42%) sepia(10%) saturate(4169%) hue-rotate(232deg) brightness(86%) contrast(82%)"
        }
    }
}

</script>

<style scoped>

.icon-size {
    width: 19px;
    margin-right: 10px;
}

.player-container {
    position: fixed;
    bottom: 0;
    background: #0D0D0D;
    width: 100vw;
    height: 18vh;
    padding: 30px 20px 30px 270px;
    color: white;
}

.player-container2 {
    display: flex;
    
}

.album-cover {
    float: left;
    background: #E1CD98;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.song-info {
    margin-left: -1vmax;
    
}

.song-title {
    font-size: 1rem;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    font-size: 0.9vw;
    margin-bottom: auto;
    margin-top: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #D6D6D6;
}

.duration-section {
    margin-right: 60px;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duration-bar {
    width: 29vw;
    height: 4px;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-bar {
    border: 0;
    background: white;
    border-radius: 100px;
}
.duration-bar::-webkit-progress-value {
    border: 0;
    background-color: #8952B5;
    border-radius: 100px;
}

.player-icons-container {
    margin-top: 2vh;
}

.player-icons-items {
    margin: 0 1.5vw;
}

.add-adjust-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 300px;
    font-size: 0.7rem;
    text-align: center;
    align-items: center;
    margin: auto;
}

.add-adjust-text-bottom {
    margin: auto;
    margin-bottom: 10px;
}

.space-divider {
    padding-top: 3vw;
}

</style>