<template>
      <div class="sidebar-container">
        <!-- LOGO -->    
        <img src="../assets/Logo2.png">
        <!-- END LOGO -->
            
        <!-- BUTTONS -->    
        <div class="button-container">
        <button type="button" v-on:click="openUpload" class="upload-button">
            <img class="icon-size" src="../assets/icons8_upload_4.svg"> Upload</button>
            
        <button type="button" v-on:click="openCreate" class="create-button">
            <img class="icon-size" src="../assets/icons8_plus_math_2.svg"> Create playlist</button>
            
        <button type="button" onclick="showFavorite()" class="favorite-button">
            <img class="icon-size" src="../assets/icons8_heart_9.svg"> Favorite tracks</button>
        </div>
        <!-- END BUTTONS -->
        
        <!-- PLAYLIST -->
        <div class="playlist-container">
        <div class="divider"></div>
        <h1 id="p2" class="my-playlist"> MY PLAYLIST </h1>
        <ul>
            <li><a href="#">this is how u fall in love</a></li>
            <li><a href="#">and the worst of it all</a></li>
            <li><a href="#">where do broken hearts go ba?</a></li>
            <li><a href="#">sanaol piNoy</a></li>
            <li><a href="#">ok</a></li>
            <li><a href="#">taylor swift IS A GOD</a></li>
            <li><a href="#">cavetown is a huhu</a></li>
            <li><a href="#">boiling waterrrr</a></li>
            <li><a href="#">kdrama love</a></li>
            <li><a href="#">reputation</a></li>
            <li><a href="#">taylor's version brdigg</a></li>
        </ul>
        </div>    
        <!-- END PLAYLIST -->
            
        <!-- USER -->
        <div class="user-container row">
            <div class="user-img col-1"></div>
            <div class="col greetings">Hi, Dwight!</div>
            <div class="col-2"><img class="icon-size" src="../assets/icons8_menu_vertical_5.svg"></div>
        </div>
        <!-- END USER -->
        </div>

        <div id="upload-dd-container" class="modal-container">
        <div class="upload-box-container">
        <div class="upload-box">
            <div class="upload-box-header">
            UPLOAD SONG
            </div>
            <div class="upload-box-content">DRAG AND DROP YOUR FILES HERE</div>
            <div class="upload-box-button">
            <button class="upload-button-color">Upload</button>
            <button id="cancel-upload" v-on:click="cancelUpload" class="cancel-button-color">Cancel</button>
            </div>
        </div>
    </div>
    </div>

    <div id="create-dd-container" class="modal-container2">
        <div class="create-box-container">
        <div class="create-box">
            <div class="create-box-header">
            CREATE PLAYLIST
            </div>
            <input class="name-playlist" type="text" placeholder="Name of your playlist">
            <div class="create-box-button">
            <button class="create-button-color">Create</button>
            <button id="cancel-upload" v-on:click="cancelCreate" class="cancel-button-color">Cancel</button>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
  name: 'SideBar',
  methods: {
        openUpload() {
         document.getElementById("upload-dd-container").style.visibility = "visible";
        },

        cancelUpload() {
        document.getElementById("upload-dd-container").style.visibility = "hidden";
        },

        openCreate() {
        document.getElementById("create-dd-container").style.visibility = "visible";
        },
        
        cancelCreate() {
        document.getElementById("create-dd-container").style.visibility = "hidden";
        }
    }
} 

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sidebar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #F5F5F5;
    height:100%;
    width: 230px;
    box-shadow: 0px 0px 25px -10px;
}
.button-container {
    display: flex;
    flex-direction: column;
    margin-top: -0.3vh
}

.icon-size {
    width: 19px;
    margin-right: 10px;
}

.upload-button, .create-button, .favorite-button {
    background: #2F2D2D;
    border: none;
    border-bottom: 3px solid #383838;
    font-size: 14px;
    font-weight: 300;
    color: #B2B2B2;
    text-align: left;
    padding: 20px 0;
    padding-left: 40px;
    margin-top: -1.4px;
    transition: 0.1s;
}

.upload-button:hover, .create-button:hover, .favorite-button:hover{
    background: #222222;
}

.playlist-container {
    background: #F5F5F5;
    height: 45vh;
    padding: 25px 10px 20px 20px;
}

.divider {
    background: #808080;
    height: 2px;
    width: 55px;
    margin-bottom: 20px;
}

.my-playlist {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    font-weight: 900;
    font-size: 1.4rem;
    color: black;
}

.playlist-container ul {
    height: 70%;
    overflow: auto;
    margin: auto;
}

.playlist-container li, a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    margin-top: 5px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    transition: 0.3s;
}

.playlist-container a:hover {
    color: #824BAF;
}

.user-container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #D6D6D6;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

.user-img {
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 14px;
}

.greetings {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.modal-container {
    visibility: hidden;
}

.upload-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    height: 100vh;
    width: 100vw;
}

.upload-box {
    display: flex;
    flex-direction: column;
    background: #D0D0D0;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.upload-box-header {
    padding: 15px;
    padding-left: 30px;
    background: #212121;
    height: 8vh;
    width: 100%;
    color: white;
    font-weight: 900;
}

.upload-box-content {
    font-weight: 900;
    color: #707070;
    text-align: center;
    margin-top: 100px;
}

.upload-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}

.upload-box-button button {
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
}

.upload-button-color {
    background: #222222;
    color: white;
}

.cancel-button-color {
    background: #B1ACAC;
    color: white;
}

.modal-container2 {
    visibility: hidden;
}

.create-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    height: 100vh;
    width: 100vw;
}

.create-box {
    display: flex;
    flex-direction: column;
    background: #D0D0D0;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.create-box-header {
    padding: 15px;
    padding-left: 30px;
    background: #212121;
    height: 8vh;
    width: 100%;
    color: white;
    font-weight: 900;
}

.name-playlist {
    font-weight: 500;
    color: #707070;
    text-align: left;
    padding: 6px;
    padding-left: 20px;
    margin: 20px;
    background: #C4C4C4;
    border: none;
    border-radius: 5px;
}

.create-box-button {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 210px;
    bottom: 0;
    left: 0;
}

.create-box-button button {
    border: none;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
}

.create-button-color {
    background: #222222;
    color: white;
}

.cancel-button-color {
    background: #B1ACAC;
    color: white;
}

</style>
