<template>
  <Player/>
  <MainContent/>
  <SideBar/>
</template>

<script>
import Player from './components/Player.vue'
import SideBar from './components/SideBar.vue'
import MainContent from './components/MainContent.vue'

export default {
  name: 'App',
  components: {
    Player,
    MainContent,
    SideBar
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #D6D6D6;
    border-radius: 60px;
}
 
::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
  
</style>
