@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    overflow-x: hidden;
    
}

.body-background {
    background-image: url(res/body-background.jpg);
    background-repeat: no-repeat;
    resize: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav-style {
    background-color: #B4C4FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 25px;
}

.hidden {
    display: none;
}

.nav-style:hover {
    color: white;
}


.img-logo {
    float: left;
}

.img-wave {
    height: 90px;
    width: 200px;
}

.text-gradient {
    background:linear-gradient(90deg, #3F59CA, #148692);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-text {
    color: white;
    font-weight: 900;
    font-size: 7vw;
    font-size-adjust: auto;
}

.sub-caption {
    color: white;
    font-weight: 400;
    line-height: 1;
    padding: 0 19vw;
}

.main-text-2 {
    color: white;
    font-weight: 900;
}

.icons-stream {
    transition: transform .5s;
}

.icons-stream:hover {
    transform: scale(1.1);
}

.rectangular-shape {
    position: absolute;
    bottom: auto;
    background: linear-gradient(40deg, #121212, #121011);
    height: auto;
    width: 100%;
    border-radius: 70px 70px 0 0;
    
}

.info-yarn {
    font-weight: 500;
    margin: 0 100px;
    line-height: 1
}

.info-yarn:before {
    content: url(res/icons8_info_500px.png);
    padding: 0 4px;
}

.song-cover-size {
    width: 170px;
    height: 170px;
    float: left;
    margin-left: 60px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform .5s;
}

.song-cover-size:hover {
    transform: scale(1.5);
}

.lyric-size {
    font-weight: 200;
    font-size: 9px;
    line-height: 8px;
    margin-left: 5%;
    color: white;
}


.btn-center {
    display: flex;
    justify-content: center;
}

.btn-design {
    background:linear-gradient(90deg, #3F59CA, #148692);
    font-size: 13px;
    padding: 3px 50px;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.btn-design:hover {
    background:linear-gradient(20deg, #3F59CA, #148692);
    color: white;
    
}